.account {
    padding: 0 20px;
}
.account__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 15px 20px -15px var(--grey), 0px 25px 40px -25px var(--pink); 
}
.account__info h1 {
    font-size: 40px;
    margin: 10px 0;
}
.account__increase {
    margin-right: 100px;
}
.account label {
    display: block;
}
.account label span {
    width: 150px;
    display: inline-block;
}
.account__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}