.custom-select-container {
    position: relative;
    border: 1px solid var(--lightviolet);
    border-radius: 50px;
    padding: 5px 15px;
    width: 210px;
    margin: 10px;
}
.custom-select-options {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 42px;
    left: 0;
}
.custom-select-options li {
    background-color: black;
    padding: 5px 15px;
    border-bottom: 1px solid var(--lightviolet);
    border-radius: 25px;
}
