:root {
  --blue: #1e90ff;
  --lightblue: #88c4ff;
  --pink: #fc7de9;
  --lightpink: #febdf4;
  --violet: #c76dfe;
  --lightviolet: #dba1ff;
  --green: #73fb4e;
  --lightgreen: #b6fba3;
  --yellow: #fff653;
  --lightyellow: #fffcc1;
  --grey: #ccc;
  --darkgrey: #484848;
}
@font-face {
	font-family: 'Neonworld';
	src: url('./components/fonts/NeonWorldDemoRegular-lg6Mq.ttf');
}
@font-face {
  font-family: 'Neon';
  src: url('./components/fonts/Neon-e2wg.ttf');
}
@font-face {
  font-family: 'Picadili';
  src: url('./components/fonts/Picadilly-3ax8.ttf');
}
@font-face {
  font-family: 'Chalk';
  src: url('./components/fonts/MfKillingLoneliness-Agpg.ttf');
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/wall.jpg") no-repeat black;
  background-size: cover;
  color: var(--grey);
  position: relative;
  background-position: top;
  font-family: 'Chalk', 'Courier New', Courier;
  font-size: 30px;
}
body a {
  text-decoration: none;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: 'Picadili', 'Courier New', Courier;
  font-size: 30px;
}

.navigation ul {
  list-style: none;
  display: flex; 
}

.navigation li {
  padding: 5px 20px;
}

.navigation a {
  color: var(--violet)
}
.navigation a.active {
  color: var(--lightpink);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

.navigation__logo {
  font-size: 30px;
  font-family: 'Neonworld', 'Courier New', Courier;
  margin-right: 20px;
}

.navigation__logo .blue {
  color: var(--blue);
  text-shadow: 0 0 10px var(--lightblue), 0 0 20px var(--blue), 0 0 30px var(--blue);
}
.navigation__logo .violet {
  color: var(--violet);
  text-shadow: 0 0 10px var(--lightviolet), 0 0 20px var(--violet), 0 0 30px var(--violet);
}
.navigation__logo .pink {
  color: var(--pink);
  text-shadow: 0 0 10px var(--lightpink), 0 0 20px var(--pink), 0 0 30px var(--pink);
}
.navigation__logo .green {
  color: var(--green);
  text-shadow: 0 0 10px var(--lightgreen), 0 0 20px var(--green), 0 0 30px var(--green);
}
.navigation__logo .yellow {
  color: var(--yellow);
  text-shadow: 0 0 10px var(--lightyellow), 0 0 20px var(--yellow), 0 0 30px var(--yellow);
}
.navigation__logo .white {
  color: white;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
}

input {
  background-color: transparent;
  border: 1px solid var(--lightviolet);
  border-radius: 50px;
  outline: none;
  height: 30px;
  min-width: 200px;
  margin: 10px;
  font-family: 'Chalk', 'Courier New', Courier, monospace;
  color: var(--grey);
  padding: 5px 15px;
  font-size: 25px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--violet);
  -webkit-text-fill-color: var(--grey);
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
.btn-prime {
  font-family: 'Picadili', 'Courier New', Courier, monospace;
  color: var(--lightviolet);
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
  border: none;
  font-size: 30px;
  text-shadow: 0 0 10px white, 0 0 20px var(--violet), 0 0 30px var(--violet);
}
.budget {
  font-weight: 600;
}

.btn-prime:disabled {
  text-shadow: none;
  cursor: not-allowed;
}

.btn-svg {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btn-svg svg {
  width: 50px;
  height: 50px;
  color: var(--violet);
}

.modal__container {
  position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 20px;
  background-color: black;
  box-shadow: 0 0 30px #4d4d4d, 0 0 70px var(--pink);
}